@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Greeting, @Model.Subject!</h1>
    <p>This page is built and deployed using self-hosted Github action runners.</p>
</div>
