@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">@Model.Greeting, @Model.Subject!</h1>
    <p>This site is built and deployed using self-hosted Github action runners.</p>
    <p>The build runner is hosted on an Amazon EC2 instance</p>
    <p>A second EC2 instance hosts the deploy runner and a the site itself.</p>
    <p>The site is containerized and running in Docker</p>
</div>
